---
import { SITE_TITLE, SITE_AUTHOR } from '@/consts'
---

<!-- footer -->
<footer class="relative px-32 py-6" un-md="py-8">
  <!-- container -->
  <div class="mx-auto max-w-360 text-center">
    <!-- message -->
    <p class="text-sm leading-6 font-500 text-opacity-78">
      {SITE_TITLE}
    </p>
    <!-- copyright -->
    <p class="text-sm leading-6 font-500 text-opacity-78">
      {`Copyright © ${2023} ${SITE_AUTHOR}`}
    </p>
  </div>
</footer>
