---
import { SITE_TITLE } from '@/consts'
---

<!-- header -->
<header class="relative top-0 left-0 w-full" un-lg="fixed">
  <div class="h-16">
    <div>{SITE_TITLE}</div>
  </div>
</header>

<!-- header placeholder -->
<div class="hidden h-16" un-lg="block"></div>
