---
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'
import Header from '@components/Header.astro'
import logo from '@assets/logo.svg'

const { title } = Astro.props
---

<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href={logo.src} />
    <title>{title ?? SITE_TITLE}</title>
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="w-full antialiased bg-white text-#3c3c43"
    un-dark="bg-#1b1b1f text-#fffff5 text-opacity-86"
  >
    <div class="flex flex-col min-w-80 min-h-screen">
      <Header />
      <slot />
    </div>
  </body>
</html>
